<h2>Tenencias</h2>
<table class="table table-sm table-striped table-hover" v-else>
    <thead>
    <th scope="col">#</th>
    <th scope="col">Nombre</th>
    <th scope="col">Categoria</th>
    <th scope="col">Cuotapartes</th>
    <th scope="col">Valor Cuotaparte</th>
    <th scope="col">Saldo Valorizado</th>
    <th scope="col">Total Subscripciones</th>
    <th scope="col">Total Rescates</th>
    <th scope="col">Rendimiento</th>
    <th scope="col">Signo Variación</th>
    </thead>
    <tbody>
    <tr ng-repeat="inversion in $ctrl.inversiones">
        <td scope="row">{{inversion.id}}</td>
        <td scope="row">{{inversion.nombre}}</td>
        <td scope="row">{{inversion.categoria}}</td>
        <td scope="row">{{inversion.cantidad}}</td>
        <td scope="row">{{inversion.cotizacion}}</td>
        <td scope="row">{{inversion.saldoValorizado}}</td>
        <td scope="row">{{inversion.totalSubscripciones}}</td>
        <td scope="row">{{-inversion.totalRescates}}</td>
        <td scope="row">{{inversion.saldoValorizado - inversion.totalRescates - inversion.totalSubscripciones}}</td>
        <td scope="row">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M4.646 9.646a.5.5 0 0 1 .708 0L8 12.293l2.646-2.647a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M8 2.5a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-1 0V3a.5.5 0 0 1 .5-.5z"/>
            </svg>
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5z"/>
                <path fill-rule="evenodd" d="M7.646 2.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8 3.707 5.354 6.354a.5.5 0 1 1-.708-.708l3-3z"/>
            </svg>
        </td>
    </tr>
    </tbody>
</table>